html{
  font-size: 16px;
  background-image: url("IMG/ff9.jpg"); 
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 90rem;
  background-position: center;
}
header{
  background-color: rgba(249, 249, 246, 0.8);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*tipo de letra*/
  color: rgb(53, 79, 117);  
  -webkit-text-stroke: 2px  rgb(53, 79, 117);
  padding-left: 1.6rem; 
  margin:0;
  font-size: 1rem;
  position:fixed; 
  left:0rem; 
  top:0rem;
  width: 100%; 
}
body{
  margin:0; 
  scroll-behavior: smooth; 
  font-size: 1rem;
}
.inicio{
  padding-top: 10.6rem;
  margin-block-end: 12.5rem;
  width: 70rem;
}
 .portada{
  margin-top: 0rem;
  margin-left: 20rem;
  margin-block-end: 6.25rem;
  padding: 2rem 2rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.9);
  border:0.25rem solid rgb(165, 165, 165); 
  font-size: 1.8em;
}
section.inicio img.imagenMujeres{
  float: right;
  margin-left: 1.9rem;
  width: 14rem;
  border-radius: 0.75rem;
}
.imagen{
  border-radius: 1.5rem; 
  margin: auto;  
  display: block;  
  width: 20rem;
  height: 13rem;
}
h2{
font-family:  'Gill Sans';
color: rgb(53, 79, 117);  
-webkit-text-stroke: 0.12rem  rgb(53, 79, 117); 
text-align: center;
font-size: 3.1rem;
line-height: 0rem;
margin-top: 1.8rem;
}
.button{
  background-color:  rgb(165, 165, 165);
  border-radius: 0.75rem;
  border:0.37rem  solid gray; 
  width: 5.6rem;
  font-size: 2.5rem; 
  text-align: center;
  margin-top: 0.75rem;
}
.button:hover{               
  background-color: white;  
 }
.buttonGoTrailer{
  background-color: transparent;
  font-family: "Impact"; 
  color: rgb(53, 79, 117); 
  border-radius: 0.75rem;
  border:0.37rem solid rgb(53, 79, 117);
  width: 6.25rem; 
  height: 12.5rem;
  font-size: 2.56rem; 
  text-align: center; 
  padding: 0.1rem 1.25rem;
  text-decoration: none;
  margin-left: 0rem;
  margin-right: 4.37rem;
}
.buttonGoTrailer:hover{               
  background-color: rgb(53, 79, 117);
  color:white;  
}
.buttonBorrar{
  background-color: transparent;
  font-family: "Arial"; 
  border-radius: 0.75rem;
  border:0.19rem  solid gray; 
  width: 6.25rem; 
  color: gray; 
  font-size: 0.93rem; 
  text-align: center;
  margin-left:13.12rem;
}
.buttonTop{
  background-color: transparent;
  font-family: "Arial"; 
  color: rgb(53, 79, 117); 
  border-radius: 0.75rem;
  border:0.19rem solid rgb(53, 79, 117); 
  width: 6.25rem; 
  height: 5.6rem;
  font-size: 0.93rem; 
  text-align: center; 
  padding: 0.13rem;
  text-decoration: none;
  margin-left: 0.62rem;
}
.buttonTop:hover {               
  background-color: rgb(53, 79, 117);
  color:white;  
 }
.buttonBorrar:hover {            
  border:0.19rem solid gray;
  background-color: gray;
  color:white;  
 }
.buttonCipher{
  background-color: rgba(244, 247, 78, 0.5);
  font-family: 'Trebuchet MS';
  border-radius: 0.75rem;
  border:0.19rem  solid gray; 
  width: 10.6rem; 
  color: gray; 
  font-size: 1.87rem;
  text-align: center;
  margin-left: 0.94rem;
  margin-top: 0rem;
}
.buttonCipher:hover {              
  background-color: rgb(53, 79, 117);
  border:0.19rem solid  rgb(53, 79, 117);
  color:white; 
  -webkit-text-stroke: 0.07rem  white; 
 }
textarea{
  font-family: 'Gill Sans';
  font-size: 1.13rem;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0.75rem;
  padding: 0.44rem;
  text-align: center;
  width: 22rem;
}
main{
  padding-top: 3rem;
}
.contenedor1, .contenedor2, .contenedor3 {
  float: left;
  width: 24rem;
  height: 35rem;
  margin-block-end: 1.4rem;
  margin-left: 1.82rem;
  padding: 1.25rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.9);
  border:0.38rem solid rgb(165, 165, 165); 
  font-size: 1.87rem;
}
.piePagina{
  color: gray;
  font-family: 'Gill Sans';
  text-decoration: none;
  margin-left: 75rem;
  margin-top: 0rem;
  background-color: transparent;
  
  border-radius: 0.75rem;
  border:0.19rem; 
  padding: 0.19rem;
}
p{
  color: black;
  font-family: 'Gill Sans';
  font-size: 1.13rem;
  text-align: justify;
}
h3{
  color:  rgb(53, 79, 117);
  font-family: courier;
  font-size: 1.25rem;
  text-align:center;

  background-color: white;
  border-radius: 0.75rem;
  border:0.19rem 
  padding: 0.31rem;
}

@media (max-width:700px) {
  html{
    font-size: 7.5px;
  }
}


  